@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Map";
    
}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2>Alton Baker Park Community Map Page</h2>
        
    </div>
    <div class="container">
        <iframe width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuZNtfgQp3jfLgRtXzRmlbUJeKmzeK_yo
                    &q=alton+baker+dog+park+eugene+or" allowfullscreen>

        </iframe>
    </div>
    <div class="col-sm-2"></div>
</div>