@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
<h2>@ViewData["Title"].</h2>

<p>This site is mantained by Aaron Otterstetter</p>
<address>
    Alton Baker Park
    Leo Harris Pkwy<br />
    Eugene, OR<br />
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<p>If you would like to contact us please click @Html.ActionLink("Contact", "Contact", "Home")</p>
