@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "History";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2>Alton Baker Park Community History Page</h2>
        <p>The Alton Baker Park Off-Leash Area has been an important addition to the Alton Baker Park, 
        the largest park in Eugene, for more than a decade. The dog park has been so valuable to the 
        area that a special team has formed to continue to grow this area with many great comforts in 
        mind essential to you and your pooch. The Off-Leash Area is located off Martin Luther King Jr. Boulevard 
        on Leo Harris Parkway, behind Autzen Stadium. Park in lot 8.</p>
    </div>
    <div class="col-sm-2"></div>
</div>